@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  user-select: none;
}
body {
  width: 100vw !important;
  overflow-x: hidden !important;
}
body::-webkit-scrollbar {
  display: none;
}
#root {
  width: 100%;
  height: 100%;
}
a {
  color: none;
}

.nav {
  @apply w-screen md:h-[4rem] backdrop-blur-md bg-[#00000049] fixed top-0 left-0 flex justify-between items-center px-3 lg:px-[4rem] text-white text-xl z-30 h-[3.5rem];
}

.InnerNav {
  @apply lg:w-[80%] lg:h-full dark:bg-gray-700 lg:dark:bg-transparent dark:text-white flex flex-col px-3 md:px-0 text-center lg:text-start lg:static lg:flex-row justify-between lg:justify-center gap-x-[6rem] md:items-center absolute left-0  z-[-20] w-screen h-screen lg:text-white lg:py-0 pt-[4rem] pb-[3rem] lg:bg-transparent bg-white text-black transition-all duration-700;
}

.menu {
  @apply absolute right-3 md:top-4 top-2 px-[2rem] py-[6px] md:py-[0.5rem] hover:opacity-75 bg-slate-700 rounded-md lg:hidden transition-all duration-700;
}

.NavLinks {
  @apply md:hover:scale-110 hover:text-[#0000777] transition-all duration-500;
}
.logo {
  @apply w-10  md:w-[3rem] md:h-[3rem] cursor-pointer;
}

.body {
  @apply w-screen h-screen;
}
.TopSection {
  @apply w-full h-screen;
}
.MySwipper {
  @apply w-full h-full;
}
.swipes {
  @apply w-full h-full;
}

.SliderImage {
  @apply w-full h-full object-cover brightness-[60%];
}
.SliderCont {
  @apply w-full h-full bg-fixed brightness-[60%] bg-center;
}
.SliderContFirst {
  @apply bg-[url("./assets/ServicePage/wealth_management.webp")] bg-cover;
}
.SliderContSecond {
  @apply bg-[url("./assets/ServicePage/crypto-trading.webp")] bg-cover;
}
.SliderContThird {
  @apply bg-[url("./assets/ServicePage/real-estate.webp")] bg-cover;
}
.ErrorImage {
  @apply w-[75%] h-[75%] object-cover bg-no-repeat bg-center animate-pulse bg-[url("./assets/404page/ErrorPage.svg")] dark:bg-[url("./assets/404page/ErrorPageWhite.svg")] transition-all duration-500;
}
.descripo {
  @apply absolute top-0 text-center w-full h-full flex flex-col justify-center items-center text-white;
}
.swiperNavLeft,
.swiperNavRight {
  @apply absolute translate-y-[-500%] w-[50px] h-[70px] z-[1] cursor-pointer bg-no-repeat bg-cover bg-center hover:bg-[#00000017] transition-all duration-500 rounded-sm hidden md:block;
}

.SecSection {
  @apply py-[4rem] h-auto w-screen  bg-white dark:bg-gray-800 dark:text-white  text-gray-800 text-justify;
}
.SatisfactionTab {
  @apply w-full h-full flex pb-[2rem] flex-col md:flex-row md:px-[4rem] px-[1rem] text-justify items-center justify-between gap-y-[4rem];
}
.leftTab,
.rightTab {
  @apply md:w-[45%] md:h-[30rem] flex flex-col justify-center w-[90%] h-[30rem];
}
.leftTab {
  @apply bg-[url('./assets/HomePage/shake.webp')] bg-cover rounded-md bg-center md:mb-0 mb-[2rem];
}
.leftTabAbout {
  @apply bg-[url('./assets/AboutPage/about-us-2.webp')];
}
.ThirdSection {
  @apply w-screen py-[3rem] bg-[#f6f7f9] dark:bg-gray-900 dark:text-white;
}
.Rates {
  @apply w-full h-auto flex flex-col;
}
.topRateTab {
  @apply w-full h-[10rem] text-center;
}
.bottomRateTab {
  @apply w-full h-full pb-[2rem] px-[1rem] flex flex-col md:flex-row justify-between items-center gap-[2rem];
}

.box {
  @apply md:w-[25rem] w-full h-auto p-[4rem] rounded-lg drop-shadow-xl bg-white flex flex-col gap-y-[2rem] items-center text-center;
}
.rateIcons {
  @apply w-[5rem] h-[5rem] object-contain;
}
.bigText {
  @apply text-[#60697b] text-xl font-bold;
}
.bigTextTwo {
  @apply text-[#60697b] text-xl;
}
.bigTextThree {
  @apply text-[#aab0bc] text-xl;
}
.bigTextFour {
  @apply text-[#60697b]  text-2xl md:text-3xl font-bold dark:text-white;
}
.smalls {
  @apply text-lg text-[#aab0bc];
}
.leftTabSec {
  @apply bg-[url('./assets/HomePage/wealth_management.webp')];
}
.SatisfactTop {
  @apply w-full  flex flex-col lg:flex-row px-[3rem] justify-between pt-[4rem] text-center gap-y-[2rem];
}
.numbers {
  @apply w-full flex md:flex-row flex-col justify-between text-center gap-y-[2rem] dark:text-white;
}
.TestimonySection {
  @apply w-full h-[50rem] lg:h-[40rem] px-[1rem] md:px-[4rem] flex lg:flex-row flex-col mt-[4rem];
}
.Testmony {
  @apply lg:w-[50%] w-[100%] lg:h-[100%] h-[50%] bg-[url('./assets/HomePage/happy-testimony.webp')] bg-cover bg-center rounded-t-lg lg:rounded-l-lg lg:rounded-tr-none;
}
.TestimonySwipper {
  @apply lg:w-[50%] w-[100%] lg:h-[100%] h-[50%] bg-white rounded-b-lg  lg:rounded-r-lg lg:rounded-bl-none drop-shadow-xl;
}
.testimonyText {
  @apply w-full h-full flex flex-col px-[1rem] md:px-[4rem] gap-y-[2rem] text-center justify-center;
}
.ServiceDescrip {
  @apply p-[1rem] md:p-[3rem] text-justify bg-gray-800 dark:bg-white dark:text-gray-800  text-white;
}

.footer {
  @apply w-full p-[1rem] md:p-[4rem] bg-white dark:bg-gray-800 dark:text-white  text-gray-800 text-justify;
}
.footerTop {
  @apply w-full flex flex-col gap-y-[2rem] md:flex-row justify-between mb-[2rem];
}
.ftChild {
  @apply md:w-[30%] w-full;
}
.ul {
  @apply cursor-pointer space-y-[1rem];
}
.footerBottom {
  @apply w-full flex justify-center;
}
.active {
  @apply bg-gray-100 dark:bg-gray-900;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  transition: all ease-in-out 0.3s;
}
